* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/*.wrapper__body {*/
/*    min-height: 100%;*/
/*}*/

body {
    background-color: #191918;
    font-family: Roboto, sans-serif;
    color: #fffdfc;
    font-size: 10px;
    margin-bottom: 10px;
    min-height: 100%;
}

@media screen and (max-width: 375px) {
    body {
        max-width: 375px;
    }
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    font-size: 18px;
}

@media print {
    /* print styles go here */
    body {
        font-size: 28px;
    }
}

.header__title, .header__logo, .header__delivery {
    flex: 0 1 33.333%;
}

.header {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-bottom: 25px;
}

.delivery__header {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
}

.header__title {
    color: #cbad62;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

h1 {
    font-size: 25px;
}

.header__title p {
    margin-bottom: 10px;
}

.header__logo {
    width: 90px;
    height: auto;
    display: flex;
    justify-content: center;
}

.header__delivery {
    text-align: center;
}

.header__link {
    text-decoration: none;
    color: #fffdfc;
}


.header__link:hover {
    border: 1px solid #cbad62;
    transition: 0.4s easy-in-out;
    min-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    background-color: #cbad62;
    color: #191918;
}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__list li {
    width: auto;
    display: inline-block;
    margin-left: 2em;
}

.header__call, .header__delivery-desc {
    text-decoration: none;
    color: #cbad62;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 10px;
}

.delivery__header {
    margin-bottom: 10px;
}

.header__menu {
    display: flex;
    justify-content: center;
    background-color: #cbad62;
    margin-bottom: 0.5em;
    min-height: 3em;

}

/*.container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}*/
.menu {
    /*border: 3px solid white;*/
    /*width: 50%;*/
    display: flex;
    /*max-width: 50%;*/
    margin-bottom: 1em;
    padding: 0 1em;
    text-align: center;
}

.menu__list {
    list-style: none;
    /*display: inline-block;*/
    min-width: 100%;
}

.menu__weight {
    display: flex;
    justify-content: center;
    font-size: 1em;
    opacity: 50%;
}

.menu__title {
    background-color: #cbad62;
    color: #fffdfc;
    /*color: #cbad62;*/
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.menu__dishes {
    color: #cbad62;
    /*letter-spacing: 1px;*/
    font-size: 1.3em;
    /*display: flex;*/
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0.2em;
    /*text-align: center;*/
}

@media screen and (max-width: 375px) {
    .menu__dishes {
    font-size: 0.8em;
    }
    .menu__desc {
        font-size: 0.6em;

    }
}

.menu__desc {
    color: #fffdfc;
    display: inline;
    /*display: block;*/
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.7em;
    justify-content: center;
    align-items: baseline;
}

span {
    opacity: 50%;
    font-size: 10px;
    margin: 0 5px;
    color: #fffdfc;
}

.wrapper {
    border-left: 1px solid #cbad62;
    border-right: 1px solid #cbad62;
}

.block {
    min-height: 353px;
}

.menu_kitcen {
    display: grid;
    grid-template-columns: 50% 50%;
}

/*.wrapper__col-3 {
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
}*/

.note {
    background-color: #cbad62;
    color: #fffdfc;
    font-size: 1.3em;
    max-height: 100%;
    /*display: flex;
    justify-content: center;*/
    margin-bottom: 1em;
    /*min-height: 5em;*/
    /*align-items: center;*/
    text-align: center;
    padding: 1em;
}

h3 {
    color: #cbad62;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.menu__bar {
    display: grid;
    grid-template-columns: 50% 50%;
}

