* {
    padding: 0;
    margin: 0;
    /*box-shadow: none;*/
    text-decoration: none;
    box-sizing: border-box;

}
::-webkit-scrollbar {
    width: 0;
}

html {
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #191918;
    color: rgb(203,173,98);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeSpeed;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.page {
    background: url("../img/backgroundHall1.jpeg") 0 0 / cover no-repeat;
    height: 100%;
    width: 100%;
    /*!*opacity: 0.4;*!*/
    display: grid;
    margin-bottom: 2rem;
}

@media (max-width: 645px ) {
    .page {
        background: url("../img/backgroundHall1.jpeg") 0 0 / cover no-repeat;
    }
}

@media (min-width: 375px ) {
    .page {
        background: url("../img/backgroundHall1.jpeg") 0 0 / cover no-repeat;
    }
}


.header {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__title {
    text-align: center;
    font-size: 3em;
    color: #cbad62;
    margin-bottom: 10vh;
}

@media screen  and (max-width: 645px){
    .navigation__title {
        font-size: 2em;
    }
}

@media screen  and (max-width: 375px){
    .navigation__title {
        font-size: 1.3em;
    }
}

nav {
    display: flex;
    justify-content: space-between;
}

/*.button__link {*/
/*    text-decoration: none;*/
/*    color: #cbad62;*/
/*}*/

.page__wrapper {
    background: rgba(25, 25, 24, 0.6);
    /*height: 100%;*/
    /*width: 100%;*/
/display: grid;

}

.navigation__button {
    /*!*max-width: 180px;*!*/
    /*max-height: 50px;*/
    /*display: block;*/
    /*min-height: 2.5rem;*/
    /*min-width: 7rem;*/
    padding: 0.1rem 0.1rem;
    font-size: 2rem;
    text-transform: uppercase;
    /* color: #cbad62; */
    background: #191918;
    border-style: none;
    padding: 0.3rem 0.8rem;
    text-decoration: none;
    color: #cbad62;
}

.article {
    text-align: center;
    margin: 5vw 0;
}

.opentime {
    min-height: 22vh;
    margin-bottom: 5vw;
}
.opentime__wrapper {
    display: flex;
    justify-content: space-around;
}

.row {
    overflow: hidden;
}

/*.opentime__header:before*/
/*.opentime__header:after {*/
/*    content: " ";*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    width: 30%;*/
/*    height: 3px;*/
/*    background-color: aliceblue;*/
/*    position: relative;*/
/*    margin-left: -53%;*/
/*    text-align: right;*/
/*}*/

/*.opentime__header:before {*/
/*    margin-left: -50%;*/
/*}*/

/*.opentime__header:after {*/
/*    margin-right: -50%;*/
/*}*/

.lunch {
    margin: 5vw 0;
}
.lunch__dishes-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lunch__dishes {
    margin-top: 3vh;
}

.lunch__weight {
    opacity: 50%;
    font-size: 10px;
    color: #fffdfc;
    margin: -1vh 0 0.5vh 0;
}

.line__header, .about__header, .reservation__header {
    overflow: hidden;
}

.line__header:before, .lunch__header:before,
.special__header:before, .about__header:before,
.reservation__header:before,
.line__header:after, .lunch__header:after,
.special__header:after, .about__header:after,
.reservation__header:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    /*box-sizing: border-box;*/
    width: 27.4vw;
    height: 1px;
    background: #cbad62;
    /*border: solid #cbad62;*/
    /*border-width: 0 10px;*/
    position: relative;
}

/*@media screen and (min-width: 645px) {*/
/*    .line__header:before {*/
/*        margin-left: -100%;*/
/*        left: -3vw;*/
/*    }*/

/*    .line__header:before {*/
/*        margin-left: -100%;*/
/*        right: -3vw;*/
/*    }*/
/*}*/

.special__header:before {
    margin-left: -100%;
    left: -1vw;
    width: 21vw;
}

.special__header:after {
    margin-right: -100%;
    right: -1vw;
    width: 21vw;
}

.line__header:before {
    margin-left: -100%;
    left: -1vw;
}

.lunch__header:before {
    margin-left: -100%;
    left: -1vw;
    width: 29vw;
}
.lunch__header:after {
    margin-right: -100%;
    right: -1vw;
    width: 29vw;
}

.line__header:after {
    margin-right: -100%;
    right: -1vw;
}

.opentime__hours {
    display: block;
    font-size: 2rem;
}

.opentime__desc {
    font-size: 1.3rem;
}

.special__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.special__title {
    color: rgb(203,173,98);
    font-size: 1.6rem;
}

.about__header:before {
    margin-left: -100%;
    left: -1vw;
    width: 31.3vw;
}

.about__header:after {
    margin-right: -100%;
    right: -1vw;
    width: 31.3vw;
}

.about__desc, .reservation__desc {
    margin: 0 14vw
}

.reservation__header:before {
    margin-left: -100%;
    left: -1vw;
    width: 21vw;
}

.reservation__header:after {
    margin-right: -100%;
    right: -1vw;
    width: 21vw;
}

.button {
    margin-top: 3vw;
}


.footer {
    background-color: #cbad62;
    color: #191918;
    font-size: 1.5rem;
}

.footer__logo {
    display: grid;
    align-items: center;
    justify-items: center;
}

.footer__social-wrapper {
    display: flex;
    justify-content: center;
}

.footer__social {
    margin-right: 2vh;
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
}

.footer__title {
    /*display: grid;*/
    text-align: center;
    margin: 3vh 0 3vh 0;
}

.footer__link {
    color: #191918;
    font-size: 1.1rem;
}

.footer__qrcode {
    width: 2rem;
}